.user-create .user-form
{
	overflow: hidden;
}
.user-form .form_group_button 
{
    overflow: hidden;
    width: 100%;
    /*text-align: center;*/
}
/*.user-form .form-group label {
    font-size: 16px;
}*/

.table .table-striped .table-bordered thead{
	background-color: #00ccb6 !important;
}
table.table.table-striped.table-bordered th,  table.table.table-striped.table-bordered th a {
    background: #1ABB9C;
    color: #fff;
    text-align: center;
    font-family: monospace;
    font-weight: bold;
}
.content ul.breadcrumb {
    background: rgba(96, 92, 168, 0.57);
}
.content ul.breadcrumb li a {
    color: #fff;
}
.grid-view{
	margin: 15px;
}
.dataTables_filter {
    float: right;
    width: 242px;
}
.form-control.input-sm {
    margin-left: 10px;
}
.dataTables_paginate{
	float: right;
}
#loginform-username,#loginform-password,.btn-color{
background-color: #163758 !important;
color: #fff !important;
font-weight: 500;
height: 45px;
}
#loginform-username::placeholder,#loginform-password::placeholder {
  color: #fff;
}
.main-section-div{
    position: relative;
}
.login-left-side{
    width: 72%;
    height: 100vh;
    background-size: cover;
    float: left;
}
.login-right-side{
    width: 28%;
    height: 100vh;
    background-color: #163758;
    float: left;
}
.site-login{
    width: 350px;
    position: absolute;
    top: 10vh;
    right: 15%;
    background: #fffffe;
    padding: 30px;
}
.copyright{
    font-size: 11px;
    margin-top: 10px;
    color:#163758;
    font-weight: 600; 
}
.forgot{
    font-color:#163758 !important;
    font-weight: 600;
}