.user-create .user-form
{
	overflow: hidden;
}
.user-form .form_group_button 
{
    overflow: hidden;
    width: 100%;
    /*text-align: center;*/
}
/*.user-form .form-group label {
    font-size: 16px;
}*/

.table .table-striped .table-bordered thead{
	background-color: #00ccb6 !important;
}
.drp_menu:hover{
	background-color:#F6F6F6;
}
.drp_menu{
	padding:10px;
}
.drp_menu a span{
	margin-right:3px;
}
.drp_menu a{
	color:#555;
}
.custm-cntnt .content {
    border: 1px solid #ccc;
    border-radius: 4px;
}
table.table.table-striped.table-bordered th,  table.table.table-striped.table-bordered th a {
    background: #33A3B2;
    color: #fff;
    text-align: center;
    /* font-family: monospace; */
    font-weight: normal;
}
.ico_hide{
	/* display:none!important; */
}
.crt_user{
	/* display:none!important; */
}
.user_nm{
	    line-height: 27px!important;
}
.user_nm .usr_nk{
	padding-right:3px
}
.dropdown .user_nm{
	margin-top: 10px;
}
.table-responsive{
    width: 100%;
}
.notice-view .table-striped tbody tr td{
    width: 50%;
}
.pushnotification-view .table-striped tbody tr td{
    width: 50%;
}
.news-view .table-striped tbody tr td{
    width: 50%;
}
.feedback-view .table-striped tbody tr td{
    width: 50%;
}
.pages-view .table-striped tbody tr td{
    width: 50%;
}
.category-view .table-striped tbody tr td{
    width: 50%;
}
.user-view .table-striped tbody tr td{
    width: 50%;
}
.table-striped{
    width: 100%;
}
.content ul.breadcrumb {
    background: rgba(96, 92, 168, 0.57);
}
.content ul.breadcrumb li a {
    color: #fff;
}
.grid-view{
	margin: 15px;
}
.dataTables_filter {
    float: right;
    width: 242px;
}
.form-control.input-sm {
    margin-left: 10px;
}
.dataTables_paginate{
	float: right;
}
#loginform-username,#loginform-password,.btn-color{
background-color: white !important;
color: #000 !important;
font-weight: 500;
height: 45px;
}
#loginform-username::placeholder,#loginform-password::placeholder {
  color: #908c8c;
}
.login-btnn{
	border: 1px solid #ccc;
background-color: #d2d2d2 !important;
}
.main-section-div{
    position: relative;
}
.login-left-side{
    width: 72%;
    height: 100vh;
    background-size: cover;
    float: left;
	 position: relative;
	
}
/* .login-right-side{ */
    /* width: 28%; */
    /* height: 100vh; */
    /* background-color: #163758; */
    /* float: left; */
/* } */
.site-login{
    width: 350px;
position: absolute;
top: 20%;
    border: 3px solid lightgray;
    border-radius: 5px;
background: #fffffe;
padding: 30px;

left: 511px;
}
.copyright{
    font-size: 11px;
    margin-top: 10px;
    color:#163758;
    font-weight: 600; 
}
.forgot{
    font-color:#163758 !important;
    font-weight: 600;
}

@media screen and (min-width: 320px) and (max-width:480px) {
	.login-left-side {
    width: 100%;
    height: auto;
    float: none;
	}
	
	.login-right-side {
    width: 100%;
    height: auto;
    float: none;
	}
	
	.site-login {
    width: 100%;
	position:static;
	margin-top:0px;
   }
   
	
	
	}
	.btn_flw{
	display:inline-block !important;
	width: 45% !important;
    margin-right: 10px !important;
	border-radius: 18px!important;
    font-size: 12px !important;
	margin-top: 0px !important;
	}


















